@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-content: #334155;
  --color-primary: #0f766e;
  --color-secondary: #475569;
  --color-accent: #0369a1;
  --color-divider: #e2e8f0;
}
